

ul {
    list-style-type: none;
    height: 90%;

    overflow: hidden;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  li {
    padding: 15px;
    float: left;
  }
  
  li a {
    padding: 8px;
    font-size: 30px;
    font-family: Roboto;
    color: #000;
    text-decoration: none;
  }
  header{
    background-color: #e5f3f8;
    padding: 70px;
    font-size: 20px;

}
h1{
    font-family: Playfair Display;
    font-size:  50px;
    text-align: center;
}
h2{
    font-family:Playfair Display ;
    text-align: center;
    font-size:  30px;

}
h3{
    font-family:Roboto ;
    text-align: center;
    color: crimson;
}
h4{
    font-family:Playfair Display;
    text-align: center;
    
}

img {
    float: right;
    border: 5px solid #f5eff5;
    margin:  15px 20px;
  }
  p{
    font-family:Roboto;
    text-align: center;
  }

  .container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
  }
  
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
  }
  
  .container span {
    font-size: 20px;
    margin-right: 15px;
  }
  
  @media (max-width: 500px) {
    .container {
        text-align: center;
    }
    .container img {
        margin: auto;
        float: none;
        display: block;
    }
  }
  footer{
    text-align: center;
        padding:3px;
       background-color: rgb(206, 237, 247);
      
  }